.box{
    float: left;
    margin: 10px;
    padding: 10px; 
    width: 200px;
    height: 200px;
    background-color: blue;
}
.fadeI{
    animation: fadein 2s ease-in forwards;
}
.fadeO{
    animation: fadeout 2s ease-out forwards;
}
@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeout {
    from {opacity: 0;}
    to {opacity: 1;}
}
.move{
    animation: slidein 2s ease-out forwards;
}
@keyframes slidein {
    from{
       transform: translateX(-200px) translateY(-200px);
       opacity: 0; 
    }
    to{
        transform: translateX(0px) translateY(0px);
       opacity: 1; 

    }
}
.scale{
    animation: zoom 2.1s ease-out forwards;
}
@keyframes zoom{
    
    0%{
transform: scale(0.5);
opacity: 0;
    }
    50%{
transform: scale(1.5);
        
    }
    100%{
transform: scale(1);
opacity: 1;

    }
}