section {
    width: 100%;
    height: 100px;
    background: #f2f2f2;
    position: relative;
    overflow: hidden;

}

.lol {
    color: black;
    font-size: 26px;
    animation: moveText 5s linear infinite ;
    bottom: 50px;
}

@keyframes moveText {
    from {
        transform: translateX(100%);
    }

    }
        to {
        transform: translateX(-100%);


}
