.button{
    background-color: blue;
    width: 100px;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    margin: 25px;
    transition: all 0.5s ease-out;
}
.button:hover{
    background-color: orange;
    transform: scale(1.25);
    cursor: pointer;
}
.khoangcach{
    display: flex;          
    flex-direction: row;    
    gap: 15px;              
    padding: 20px;
    justify-content: flex-start; 
    overflow-x: auto;       
}
.khung{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    overflow: hidden;       
    border: 3px solid #333;
    border-radius: 10px;
}
.ima{
    box-shadow: 10px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-out;
}
.ima:hover{
    
    transform: scale(1.5);
}
.nav{
    background-color: #333;
    display: flex;
    height: 100px;
    gap: 50px;
    border-radius: 5px;
    
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.nav {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 20px;
}

.nav a {
    text-decoration: none;
    color:white;
    font-size: 18px;
    position: relative; 
    padding-bottom: 5px;
}

.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;                 
    background-color: #007bff;
    transition: width 0.3s ease;
}

.nav a:hover::after {
    width: 100%;             
}
.products {
    display: flex;
    gap: 20px;
    padding: 40px;
}

.card {
    width: 200px;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    text-align: center;

    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    transform: translateY(0);

  
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}
.banner {
    width: 100%;
    height: 300px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title {
    color: white;
    font-size: 36px;

    opacity: 0;
    animation: fade-in 2s ease infinite;
}


@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


